<template>
  <el-table
      :data="users"
      style="width: 100%">
    <el-table-column
        prop="id"
        label="ID"
        type="expand"
    >
      <template slot-scope="props">
          <UserUpdate :user="props.row"/>
      </template>
    </el-table-column>
    <el-table-column
        prop="name"
        label="Имя"
    >
    </el-table-column>
    <el-table-column
        prop="phone"
        label="Телефон"
    >
    </el-table-column>
    <el-table-column
        prop="email"
        label="Email"
    >
    </el-table-column>
    <el-table-column
        align="right">
      <template slot-scope="scope">
        <el-button
            size="mini"
            type="danger"
            @click="deleteUserAction(scope.$index, scope.row)">Удалить</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import UserUpdate from "./UserUpdate";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "UsersList",
  components: {
    UserUpdate
  },
  computed: {
    ...mapGetters(['users'])
  },
  methods: {
    ...mapActions(['getUsers', 'deleteUser']),
    deleteUserAction(index, row) {
      this.deleteUser(row).then(() => {
        this.getUsers();
      })
    },

  },
  created() {
    this.getUsers();
  }
}
</script>

<style scoped>

</style>