<template>
<div>
  <el-button @click="dialogVisible = true">Добавить пользователя</el-button>
  <el-dialog
      title="Добавление пользователя"
      :visible.sync="dialogVisible"
      width="30%">
    <el-form :model="form" ref="form" label-width="120px">
      <el-form-item label="Имя" prop="name">
        <el-input v-model="form.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Почта" prop="email">
        <el-input v-model="form.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="Телефон" prop="phone">
        <el-input v-model="form.phone"></el-input>
      </el-form-item>
      <el-form-item label="Пароль" prop="password">
        <el-input v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm()">Создать пользователя</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: "UserAdd",
  data() {
    return {
      dialogVisible: false,
      form: {
        name: '',
        email: '',
        phone: '',
        password: '',
      },
    };
  },
  methods: {
    ...mapActions(['getUsers', 'createUser']),
    submitForm() {
        this.createUser(this.form).then(() => {
          this.dialogVisible = false;
          this.resetForm();
          this.getUsers();
          this.$notify.success({
            title: 'Успешно',
            message: 'Пользователь был успешно создан'
          });
        }).catch(error => {
          this.$notify.error({
            title: 'Ошибка',
            message: error
          });
        })
    },
    resetForm() {
      this.$refs['form'].resetFields();
    }
  }
}
</script>

<style scoped>

</style>