<template>
  <el-form :model="user" ref="form" label-width="120px">
    <el-form-item label="Имя" prop="name">
      <el-input v-model="user.name" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Почта" prop="email">
      <el-input v-model="user.email" autocomplete="off"></el-input>
    </el-form-item>
    <el-form-item label="Телефон" prop="phone">
      <el-input v-model="user.phone"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm()">Сохранить пользователя</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import axios from "axios";

export default {
  name: "UserUpdate",
  props: {
      user: {
        type: Object,
        required: true
      }
  },
  // data() {
  //   return {
  //     user: {
  //       name: '',
  //       email: '',
  //       phone: '',
  //     }
  //   }
  // },
  methods: {
    submitForm() {
      axios.put('user/'+this.user.id, {
        name: this.user.name,
        email: this.user.email,
        phone: this.user.phone,
        _method: 'patch'
      }).then(() => {
        this.$notify.success({
          title: 'Успешно',
          message: 'Пользователь был успешно обновлен'
        });
      }).catch(error => {
        this.$notify.error({
          title: 'Ошибка',
          message: error
        });
      })
    }
  }
}
</script>

<style scoped>

</style>