<template>
  <div id="app">
    <UserAdd/>
    <UsersList/>
  </div>
</template>

<script>
import UsersList from './components/UsersList'
import UserAdd from './components/UserAdd'

export default {
  name: 'App',
  components: {
    UsersList,
    UserAdd,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 70%;
  margin: 60px auto;
}
</style>
